.color-primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.action-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 5rem;
}

mat-spinner {
  height: 3rem !important;
  width: 3rem !important;
}
